Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
libtool
config.h
config.status
config.log
Makefile
.deps/
.libs/
build*/
*.lo
*.o
libsafewrite.la
.*.swp
